// style.scss 파일에 추가
$text-color: #f7d038;
$text-color2: white;
$speed: 0.7s;
/* 색상 변경 애니메이션 속도 조절 */
$font-size: 60;


.content5_wrap {
   max-width: 100%;
   margin-top: 200px;

   .content5_1 {
      width: 95%;
      display: flex;
      flex-direction: row-reverse;

      div {
         background: black;
         width: 50%;
      }

      h1 {
         font-size: 255px;
         color: #CDC6BE;
         font-family: "Caladea";
         font-weight: bold;
         letter-spacing: -1px;
      }
   }

   //content5_1 :end

   .content5_2 {
      overflow: hidden;
      margin-top: 150px;
      width: 100%;
      margin-bottom: 150px;
      padding: 40px 0;

      .about_box {
         max-width: 100%;
         margin: 0 auto;
         margin-bottom: 100px;
         display: flex;
         position: relative;
         height: 20vw;

         div {
            margin: 0 auto;
            border: 2px solid black;
            background-color: #cdc6be;
            filter: brightness(0.9);
            background-image: url('../../public/img/main_bg.jpg');
            width: 35%;
            height: 380px;
            border-radius: 15px;
            transition: all 0.9s;

            :hover {
               filter: brightness(0.9);
            }

            div {
               border: 2px dashed black;
               height: 37vh;
               background: none;
               width: 97%;
               left: 11px;
               top: 10px;

               .en_1 {
                  margin-top: 35px;
                  font-size: 30px;
                  font-weight: bold;
                  width: 88%;
                  transition: all 0.9s;
               }

               ;

               .kr_1 {
                  font-size: 30px;
                  font-weight: bold;
                  line-height: 37px;
                  position: absolute;
                  top: 50px;
                  width: 88%;
                  // visibility: hidden;
                  opacity: 0;
                  transition: all 0.9s;
               }

               .en_2 {
                  margin-top: 50px;
                  font-size: 35px;
                  font-weight: bold;
                  width: 88%;
                  transition: all 0.7s;
               }

               ;

               .kr_2 {
                  font-size: 30px;
                  font-weight: bold;
                  line-height: 44px;
                  position: absolute;
                  top: 49px;
                  width: 88%;
                  // visibility: hidden;
                  opacity: 0;
                  transition: all 0.9s;
               }

               .en_3 {
                  margin-top: 50px;
                  font-size: 30px;
                  line-height: 30px;
                  font-weight: bold;
                  width: 88%;
                  transition: all 0.9s;
               }

               ;

               .kr_3 {
                  font-size: 25px;
                  font-weight: bold;
                  line-height: 44px;
                  position: absolute;
                  top: 50px;
                  width: 88%;
                  opacity: 0;
                  transition: all 0.9s;
               }

               .en_4 {
                  margin-top: 50px;
                  font-size: 30px;
                  line-height: 40px;
                  font-weight: bold;
                  width: 100%;
                  transition: all 0.9s;
               }

               ;

               .kr_4 {
                  font-size: 30px;
                  font-weight: bold;
                  line-height: 44px;
                  position: absolute;
                  top: 50px;
                  width: 100%;
                  opacity: 0;
                  transition: all 0.9s;
               }

               //       한/영변환
               .txt_on {
                  position: absolute;
                  top: 50px;
                  // visibility: visible;
                  opacity: 1;
               }

               .txt_off {
                  opacity: 0;
               }
            }
         }

         ;

         div:nth-child(1) {
            position: absolute;
            left: 2%;

         }

         div:nth-child(2) {
            position: absolute;
            left: 20%;

         }

         div:nth-child(3) {
            position: absolute;
            left: 40%;

         }

         div:nth-child(4) {
            position: absolute;
            left: 60%
         }
      }
   }

   //content5_2 :end
   .action2 {
      transform: translateX(35%);
   }

   .action3 {
      transform: translateX(30%);
   }

   .action4 {
      transform: translateX(30%);
   }
}

@media(min-width:1636px) and (max-width: 1740px) {
   .content5_wrap {
      .content5_1 {
         h1 {
            font-size: 240px;

         }

         .content5_2 {
            .about_box {
               div {
                  div {}
               }
            }
         }
      }

      //content5_1 :end
   }
}


@media(min-width:1501px) and (max-width: 1635px) {
   .content5_wrap {
      .content5_1 {
         h1 {
            font-size: 220px;

         }
      }

      //content5_1 :end
   }
}


@media(min-width:1369px) and (max-width: 1500px) {
   .content5_wrap {
      .content5_1 {
         h1 {
            font-size: 200px;

         }

      }

      //content5_1 :end
   }
}

@media(min-width:1230px) and (max-width: 1368px) {
   .content5_wrap {
      .content5_1 {
         h1 {
            font-size: 180px;

         }

      }

      //content5_1 :end
      .content5_2 {
         .about_box {
            div {
               height: 360px;

               div {
                  width: 96%;
                  height: 35vh;

                  .en_1 {
                     margin-top: 30px;
                     font-size: 28px;
                     font-weight: bold;
                     width: 88%;
                     transition: all 0.9s;
                  }

                  ;

                  .kr_1 {
                     font-size: 25px;
                     font-weight: bold;
                     line-height: 37px;
                     position: absolute;
                     top: 50px;
                     width: 88%;
                     // visibility: hidden;
                     opacity: 0;
                     transition: all 0.9s;
                  }

                  .en_2 {
                     margin-top: 42px;
                     font-size: 30px;
                     font-weight: bold;
                     width: 88%;
                     transition: all 0.7s;
                  }

                  ;

                  .kr_2 {
                     font-size: 25px;
                     font-weight: bold;
                     line-height: 40px;
                     position: absolute;
                     top: 49px;
                     width: 88%;
                     // visibility: hidden;
                     opacity: 0;
                     transition: all 0.9s;
                  }

                  .en_3 {
                     margin-top: 50px;
                     font-size: 25px;
                     line-height: 30px;
                     font-weight: bold;
                     width: 88%;
                     transition: all 0.9s;
                  }

                  ;

                  .kr_3 {
                     font-size: 25px;
                     font-weight: bold;
                     line-height: 34px;
                     position: absolute;
                     top: 50px;
                     width: 88%;
                     opacity: 0;
                     transition: all 0.9s;
                  }

                  .en_4 {
                     margin-top: 50px;
                     font-size: 25px;
                     line-height: 40px;
                     font-weight: bold;
                     width: 100%;
                     transition: all 0.9s;
                  }

                  ;

                  .kr_4 {
                     font-size: 25px;
                     font-weight: bold;
                     line-height: 44px;
                     position: absolute;
                     top: 50px;
                     width: 100%;
                     opacity: 0;
                     transition: all 0.9s;
                  }

                  .txt_on {
                     position: absolute;
                     top: 50px;
                     // visibility: visible;
                     opacity: 1;
                  }

                  .txt_off {
                     opacity: 0;
                  }
               }
            }
         }
      }
   }
}

@media(min-width:1095px) and (max-width: 1229px) {
   .content5_wrap {
      .content5_1 {
         h1 {
            font-size: 160px;

         }
      }

      //content5_1 :end
      .content5_2 {
         .about_box {
            div {
               height: 345px;

               div {
                  width: 96%;
                  height: 34vh;

                  .en_1 {
                     margin-top: 30px;
                     font-size: 25px;
                     font-weight: bold;
                     width: 88%;
                     transition: all 0.9s;
                  }

                  ;

                  .kr_1 {
                     font-size: 23px;
                     font-weight: bold;
                     line-height: 35px;
                     position: absolute;
                     top: 50px;
                     width: 88%;
                     // visibility: hidden;
                     opacity: 0;
                     transition: all 0.9s;
                  }

                  .en_2 {
                     margin-top: 42px;
                     font-size: 30px;
                     font-weight: bold;
                     width: 88%;
                     transition: all 0.7s;
                  }

                  ;

                  .kr_2 {
                     font-size: 25px;
                     font-weight: bold;
                     line-height: 40px;
                     position: absolute;
                     top: 49px;
                     width: 88%;
                     // visibility: hidden;
                     opacity: 0;
                     transition: all 0.9s;
                  }

                  .en_3 {
                     margin-top: 20px;
                     font-size: 25px;
                     line-height: 26px;
                     font-weight: bold;
                     width: 88%;
                     transition: all 0.9s;
                  }

                  ;

                  .kr_3 {
                     font-size: 25px;
                     font-weight: bold;
                     line-height: 27px;
                     position: absolute;
                     top: 50px;
                     width: 88%;
                     opacity: 0;
                     transition: all 0.9s;
                  }

                  .en_4 {
                     margin-top: 50px;
                     font-size: 24px;
                     line-height: 40px;
                     font-weight: bold;
                     width: 100%;
                     transition: all 0.9s;
                  }

                  ;

                  .kr_4 {
                     font-size: 25px;
                     font-weight: bold;
                     line-height: 44px;
                     position: absolute;
                     top: 50px;
                     width: 100%;
                     opacity: 0;
                     transition: all 0.9s;
                  }

                  .txt_on {
                     position: absolute;
                     top: 50px;
                     // visibility: visible;
                     opacity: 1;
                  }

                  .txt_off {
                     opacity: 0;
                  }
               }
            }
         }
      }
   }
}

@media(min-width:970px) and (max-width: 1094px) {
   .content5_wrap {
      .content5_1 {
         h1 {
            font-size: 140px;

         }
      }

      //content5_1 :end
      .content5_2 {
         .about_box {
            div {
               height: 305px;

               div {
                  width: 96%;
                  height: 30vh;

                  .en_1 {
                     margin-top: 30px;
                     font-size: 20px;
                     font-weight: bold;
                     width: 88%;
                     transition: all 0.9s;
                  }

                  ;

                  .kr_1 {
                     font-size: 20px;
                     font-weight: bold;
                     line-height: 30px;
                     position: absolute;
                     top: 50px;
                     width: 88%;
                     // visibility: hidden;
                     opacity: 0;
                     transition: all 0.9s;
                  }

                  .en_2 {
                     margin-top: 35px;
                     font-size: 24px;
                     font-weight: bold;
                     width: 88%;
                     transition: all 0.7s;
                  }

                  ;

                  .kr_2 {
                     font-size: 20px;
                     font-weight: bold;
                     line-height: 35px;
                     position: absolute;
                     top: 49px;
                     width: 88%;
                     // visibility: hidden;
                     opacity: 0;
                     transition: all 0.9s;
                  }

                  .en_3 {
                     margin-top: 19px;
                     font-size: 20px;
                     line-height: 22px;
                     font-weight: bold;
                     width: 88%;
                     transition: all 0.9s;
                  }

                  ;

                  .kr_3 {
                     font-size: 20px;
                     font-weight: bold;
                     line-height: 23px;
                     position: absolute;
                     top: 50px;
                     width: 88%;
                     opacity: 0;
                     transition: all 0.9s;
                  }

                  .en_4 {
                     margin-top: 50px;
                     font-size: 20px;
                     line-height: 27px;
                     font-weight: bold;
                     width: 100%;
                     transition: all 0.9s;
                  }

                  ;

                  .kr_4 {
                     font-size: 20px;
                     font-weight: bold;
                     line-height: 31px;
                     position: absolute;
                     top: 50px;
                     width: 100%;
                     opacity: 0;
                     transition: all 0.9s;
                  }

                  .txt_on {
                     position: absolute;
                     top: 50px;
                     // visibility: visible;
                     opacity: 1;
                  }

                  .txt_off {
                     opacity: 0;
                  }
               }
            }
         }
      }
   }
}

@media(min-width:831px) and (max-width: 969px) {
   .content5_wrap {
      .content5_1 {
         h1 {
            font-size: 120px;

         }
      }

      //content5_1 :end
      .content5_2 {
         .about_box {
            div {
               height: 300px;

               div {
                  width: 96%;
                  height: 29vh;

                  .en_1 {
                     margin-top: 18px;
                     font-size: 19px;
                     font-weight: bold;
                     width: 88%;
                     transition: all 0.9s;
                  }

                  ;

                  .kr_1 {
                     font-size: 20px;
                     font-weight: bold;
                     line-height: 25px;
                     position: absolute;
                     top: 50px;
                     width: 88%;
                     // visibility: hidden;
                     opacity: 0;
                     transition: all 0.9s;
                  }

                  .en_2 {
                     margin-top: 40px;
                     font-size: 20px;
                     font-weight: bold;
                     width: 88%;
                     transition: all 0.7s;
                  }

                  ;

                  .kr_2 {
                     font-size: 20px;
                     font-weight: bold;
                     line-height: 30px;
                     position: absolute;
                     top: 49px;
                     width: 88%;
                     // visibility: hidden;
                     opacity: 0;
                     transition: all 0.9s;
                  }

                  .en_3 {
                     margin-top: 10px;
                     font-size: 20px;
                     line-height: 21px;
                     font-weight: bold;
                     width: 88%;
                     transition: all 0.9s;
                  }

                  ;

                  .kr_3 {
                     font-size: 20px;
                     font-weight: bold;
                     line-height: 23px;
                     position: absolute;
                     top: 50px;
                     width: 88%;
                     opacity: 0;
                     transition: all 0.9s;
                  }

                  .en_4 {
                     margin-top: 50px;
                     font-size: 17px;
                     line-height: 27px;
                     font-weight: bold;
                     width: 100%;
                     transition: all 0.9s;
                  }

                  ;

                  .kr_4 {
                     font-size: 17px;
                     font-weight: bold;
                     line-height: 31px;
                     position: absolute;
                     top: 50px;
                     width: 100%;
                     opacity: 0;
                     transition: all 0.9s;
                  }

                  .txt_on {
                     position: absolute;
                     top: 50px;
                     // visibility: visible;
                     opacity: 1;
                  }

                  .txt_off {
                     opacity: 0;
                  }
               }
            }
         }
      }
   }
}

@media(min-width:702px) and (max-width: 830px) {
   .content5_wrap {
      .content5_1 {
         h1 {
            font-size: 100px;

         }
      }

      //content5_1 :end
      .content5_2 {
         .about_box {
            div {
               height: 280px;

               div {
                  width: 96%;
                  height: 27vh;

                  .en_1 {
                     margin-top: 13px;
                     font-size: 17px;
                     font-weight: bold;
                     width: 88%;
                     transition: all 0.9s;
                  }

                  ;

                  .kr_1 {
                     font-size: 15px;
                     font-weight: bold;
                     line-height: 24px;
                     position: absolute;
                     top: 50px;
                     width: 88%;
                     // visibility: hidden;
                     opacity: 0;
                     transition: all 0.9s;
                  }

                  .en_2 {
                     margin-top: 40px;
                     font-size: 18px;
                     font-weight: bold;
                     width: 88%;
                     transition: all 0.7s;
                  }

                  ;

                  .kr_2 {
                     font-size: 16px;
                     font-weight: bold;
                     line-height: 25px;
                     position: absolute;
                     top: 49px;
                     width: 88%;
                     // visibility: hidden;
                     opacity: 0;
                     transition: all 0.9s;
                  }

                  .en_3 {
                     margin-top: 10px;
                     font-size: 15px;
                     line-height: 21px;
                     font-weight: bold;
                     width: 88%;
                     transition: all 0.9s;
                  }

                  ;

                  .kr_3 {
                     font-size: 15px;
                     font-weight: bold;
                     line-height: 23px;
                     position: absolute;
                     top: 50px;
                     width: 88%;
                     opacity: 0;
                     transition: all 0.9s;
                  }

                  .en_4 {
                     margin-top: 50px;
                     font-size: 17px;
                     line-height: 20px;
                     font-weight: bold;
                     width: 100%;
                     transition: all 0.9s;
                  }

                  ;

                  .kr_4 {
                     font-size: 15px;
                     font-weight: bold;
                     line-height: 25px;
                     position: absolute;
                     top: 50px;
                     width: 100%;
                     opacity: 0;
                     transition: all 0.9s;
                  }

                  .txt_on {
                     position: absolute;
                     top: 50px;
                     // visibility: visible;
                     opacity: 1;
                  }

                  .txt_off {
                     opacity: 0;
                  }
               }
            }
         }
      }
   }
}

@media(min-width:557px) and (max-width: 701px) {
   .content5_wrap {
      .content5_1 {
         h1 {
            font-size: 80px;
         }
      }

      //content5_1 :end
      .content5_2 {
         height: 84vh;
         margin-top: 50px;
         .about_box {
            width: 95%;
            height: 100vh;
            div {
               width: 100%;
               height: 280px;

               div {
                  width: 96%;
                  height: 27vh;

                  .en_1 {
                     margin-top: 13px;
                     font-size: 17px;
                     font-weight: bold;
                     width: 100%;
                     transition: all 0.9s;
                  }

                  ;

                  .kr_1 {
                     font-size: 25px;
                     font-weight: bold;
                     line-height: 30px;
                     position: absolute;
                     top: 50px;
                     width: 100%;
                     // visibility: hidden;
                     opacity: 0;
                     transition: all 0.9s;
                  }

                  .en_2 {
                     margin-top: 20px;
                     font-size: 18px;
                     font-weight: bold;
                     width: 100%;
                     transition: all 0.7s;
                  }

                  ;

                  .kr_2 {
                     font-size: 25px;
                     font-weight: bold;
                     line-height: 30px;
                     position: absolute;
                     top: 49px;
                     width: 100%;
                     // visibility: hidden;
                     opacity: 0;
                     transition: all 0.9s;
                  }

                  .en_3 {
                     margin-top: 10px;
                     font-size: 15px;
                     line-height: 21px;
                     font-weight: bold;
                     width: 100%;
                     transition: all 0.9s;
                  }

                  ;

                  .kr_3 {
                     font-size: 25px;
                     font-weight: bold;
                     line-height: 28px;
                     position: absolute;
                     top: 50px;
                     width: 100%;
                     opacity: 0;
                     transition: all 0.9s;
                  }

                  .en_4 {
                     margin-top: 50px;
                     font-size: 25px;
                     line-height: 30px;
                     font-weight: bold;
                     width: 100%;
                     transition: all 0.9s;
                  }

                  ;

                  .kr_4 {
                     font-size: 25px;
                     font-weight: bold;
                     line-height: 25px;
                     position: absolute;
                     top: 50px;
                     width: 100%;
                     opacity: 0;
                     transition: all 0.9s;
                  }

                  .txt_on {
                     position: absolute;
                     top: 50px;
                     // visibility: visible;
                     opacity: 1;
                  }

                  .txt_off {
                     opacity: 0;
                  }
               }
            }

            //카드 위치변환
            div:nth-child(2){
               left:2%;
               bottom:60%
            }
            div:nth-child(3){
               left:2%;
               bottom:50%
               
            }
            div:nth-child(4){
               left:2%;
               bottom:40%;
               
            }
         }
      }
      .action2 {
         transform: translateY(60%);
      }
   
      .action3 {
         transform: translateY(62%);
      }
   
      .action4 {
         transform: translateY(30%);
      }
   }
}

@media(min-width:476px) and (max-width: 556px) {
   .content5_wrap {
      .content5_1 {
         h1 {
            font-size: 70px;

         }
      }

      //content5_1 :end
      .content5_2 {
         margin-top: 80px;
      }
      .content5_2 {
         height: 90vh;
         margin-top: 50px;
         .about_box {
            width: 95%;
            height: 120vh;
            div {
               width: 95%;
               height: 280px;

               div {
                  width: 96%;
                  height: 29vh;

                  .en_1 {
                     margin-top: 13px;
                     font-size: 17px;
                     font-weight: bold;
                     width: 100%;
                     transition: all 0.9s;
                  }

                  ;

                  .kr_1 {
                     font-size: 20px;
                     font-weight: bold;
                     line-height: 30px;
                     position: absolute;
                     top: 50px;
                     width: 100%;
                     // visibility: hidden;
                     opacity: 0;
                     transition: all 0.9s;
                  }

                  .en_2 {
                     margin-top: 20px;
                     font-size: 18px;
                     font-weight: bold;
                     width: 100%;
                     transition: all 0.7s;
                  }

                  ;

                  .kr_2 {
                     font-size: 20px;
                     font-weight: bold;
                     line-height: 30px;
                     position: absolute;
                     top: 49px;
                     width: 100%;
                     // visibility: hidden;
                     opacity: 0;
                     transition: all 0.9s;
                  }

                  .en_3 {
                     margin-top: 10px;
                     font-size: 15px;
                     line-height: 21px;
                     font-weight: bold;
                     width: 100%;
                     transition: all 0.9s;
                  }

                  ;

                  .kr_3 {
                     font-size: 20px;
                     font-weight: bold;
                     line-height: 25px;
                     position: absolute;
                     top: 50px;
                     width: 100%;
                     opacity: 0;
                     transition: all 0.9s;
                  }

                  .en_4 {
                     margin-top: 50px;
                     font-size: 25px;
                     line-height: 30px;
                     font-weight: bold;
                     width: 100%;
                     transition: all 0.9s;
                  }

                  ;

                  .kr_4 {
                     font-size: 20px;
                     font-weight: bold;
                     line-height: 30px;
                     position: absolute;
                     top: 50px;
                     width: 100%;
                     opacity: 0;
                     transition: all 0.9s;
                  }

                  .txt_on {
                     position: absolute;
                     top: 50px;
                     // visibility: visible;
                     opacity: 1;
                  }

                  .txt_off {
                     opacity: 0;
                  }
               }
            }

            //카드 위치변환
            div:nth-child(2){
               left:2%;
               bottom:65%
            }
            div:nth-child(3){
               left:2%;
               bottom:55%
               
            }
            div:nth-child(4){
               left:2%;
               bottom:48%;
               
            }
         }
      }
      .action2 {
         transform: translateY(50%);
      }
   
      .action3 {
         transform: translateY(50%);
      }
   
      .action4 {
         transform: translateY(30%);
      }
   }
}

@media(min-width:414px) and (max-width: 475px) {
   .content5_wrap {
      .content5_1 {
         h1 {
            font-size: 60px;

         }
      }

      //content5_1 :end

      .content5_2 {
         margin-top: 80px;
      }
      .content5_2 {
         height: 81vh;
         margin-top: 50px;
         .about_box {
            width: 95%;
            height: 100vh;
            div {
               width: 95%;
               height: 250px;

               div {
                  width: 96%;
                  height: 26vh;

                  .en_1 {
                     margin-top: 13px;
                     font-size: 17px;
                     font-weight: bold;
                     width: 100%;
                     transition: all 0.9s;
                  }

                  ;

                  .kr_1 {
                     font-size: 19px;
                     font-weight: bold;
                     line-height: 25px;
                     position: absolute;
                     top: 50px;
                     width: 100%;
                     // visibility: hidden;
                     opacity: 0;
                     transition: all 0.9s;
                  }

                  .en_2 {
                     margin-top: 20px;
                     font-size: 18px;
                     font-weight: bold;
                     width: 100%;
                     transition: all 0.7s;
                  }

                  ;

                  .kr_2 {
                     font-size: 19px;
                     font-weight: bold;
                     line-height: 30px;
                     position: absolute;
                     top: 49px;
                     width: 100%;
                     // visibility: hidden;
                     opacity: 0;
                     transition: all 0.9s;
                  }

                  .en_3 {
                     margin-top: 10px;
                     font-size: 15px;
                     line-height: 21px;
                     font-weight: bold;
                     width: 100%;
                     transition: all 0.9s;
                  }

                  ;

                  .kr_3 {
                     font-size: 19px;
                     font-weight: bold;
                     line-height: 25px;
                     position: absolute;
                     top: 50px;
                     width: 100%;
                     opacity: 0;
                     transition: all 0.9s;
                  }

                  .en_4 {
                     margin-top: 25px;
                     font-size: 20px;
                     line-height: 30px;
                     font-weight: bold;
                     width: 100%;
                     transition: all 0.9s;
                  }

                  .kr_4 {
                     font-size: 19px;
                     font-weight: bold;
                     line-height: 25px;
                     position: absolute;
                     top: 50px;
                     width: 100%;
                     opacity: 0;
                     transition: all 0.9s;
                  }

                  .txt_on {
                     position: absolute;
                     top: 50px;
                     // visibility: visible;
                     opacity: 1;
                  }

                  .txt_off {
                     opacity: 0;
                  }
               }
            }

            //카드 위치변환
            div:nth-child(2){
               left:2%;
               bottom:58%
            }
            div:nth-child(3){
               left:2%;
               bottom:48%
               
            }
            div:nth-child(4){
               left:2%;
               bottom:38%;
               
            }
         }
      }
      .action2 {
         transform: translateY(50%);
      }
   
      .action3 {
         transform: translateY(50%);
      }
   
      .action4 {
         transform: translateY(30%);
      }
   }
}

@media(min-width:338px) and (max-width: 413px) {
   .content5_wrap {
      .content5_1 {
         h1 {
            font-size: 50px;

         }
      }

      //content5_1 :end
      .content5_2 {
         margin-top: 80px;
      }
      .content5_2 {
         height: 81vh;
         margin-top: 50px;
         .about_box {
            width: 95%;
            height: 100vh;
            div {
               width: 95%;
               height: 250px;

               div {
                  width: 96%;
                  height: 26vh;

                  .en_1 {
                     margin-top: 13px;
                     font-size: 17px;
                     font-weight: bold;
                     width: 100%;
                     transition: all 0.9s;
                  }

                  ;

                  .kr_1 {
                     font-size: 19px;
                     font-weight: bold;
                     line-height: 25px;
                     position: absolute;
                     top: 50px;
                     width: 100%;
                     // visibility: hidden;
                     opacity: 0;
                     transition: all 0.9s;
                  }

                  .en_2 {
                     margin-top: 20px;
                     font-size: 18px;
                     font-weight: bold;
                     width: 100%;
                     transition: all 0.7s;
                  }

                  ;

                  .kr_2 {
                     font-size: 19px;
                     font-weight: bold;
                     line-height: 30px;
                     position: absolute;
                     top: 49px;
                     width: 100%;
                     // visibility: hidden;
                     opacity: 0;
                     transition: all 0.9s;
                  }

                  .en_3 {
                     margin-top: 10px;
                     font-size: 15px;
                     line-height: 21px;
                     font-weight: bold;
                     width: 100%;
                     transition: all 0.9s;
                  }

                  ;

                  .kr_3 {
                     font-size: 15px;
                     font-weight: bold;
                     line-height: 25px;
                     position: absolute;
                     top: 50px;
                     width: 100%;
                     opacity: 0;
                     transition: all 0.9s;
                  }

                  .en_4 {
                     margin-top: 25px;
                     font-size: 20px;
                     line-height: 22px;
                     font-weight: bold;
                     width: 100%;
                     transition: all 0.9s;
                  }

                  .kr_4 {
                     font-size: 19px;
                     font-weight: bold;
                     line-height: 25px;
                     position: absolute;
                     top: 50px;
                     width: 100%;
                     opacity: 0;
                     transition: all 0.9s;
                  }

                  .txt_on {
                     position: absolute;
                     top: 50px;
                     // visibility: visible;
                     opacity: 1;
                  }

                  .txt_off {
                     opacity: 0;
                  }
               }
            }

            //카드 위치변환
            div:nth-child(2){
               left:2%;
               bottom:58%
            }
            div:nth-child(3){
               left:2%;
               bottom:48%
               
            }
            div:nth-child(4){
               left:2%;
               bottom:38%;
               
            }
         }
      }
      .action2 {
         transform: translateY(50%);
      }
   
      .action3 {
         transform: translateY(50%);
      }
   
      .action4 {
         transform: translateY(30%);
      }
   }
}